.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

header {
    display: grid;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.try-it-free {
    
}

.get-started {
    background-color: hsl(322, 100%, 66%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

footer {
    background-color: hsl(192, 100%, 9%);
}

Very Pale Cyan: hsl(193, 100%, 96%)
Very Dark Cyan: hsl(192, 100%, 9%)
Grayish Blue: hsl(208, 11%, 55%)