.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0 auto;
  padding: 0;
}

p,
ul {
  color: hsl(208, 11%, 55%);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

header {
  background-color: hsl(193, 100%, 96%);
  background-image: url("images/bg-hero-mobile.svg");
  margin-bottom: 6em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.header-items {
  display: flex;
  flex-direction: column;
  padding: 2em 1em 2em 1em;
}

#header-logo {
  padding: 10px;
  width: 150px;
}

.top-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.bottom-header-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5em;
}

.bottom-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 500px;
  padding: 2em;
  text-align: center;
}

.bottom-header > p {
  color: hsl(192, 100%, 9%);
}

.header-image {
  max-width: 500px;
}

button {
  border-radius: 50px;
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.try-it-free {
  background-color: white;
  color: hsl(192, 100%, 9%);
  padding: 5px 0 5px 0;
  width: 175px;
}

.get-started {
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  padding: 1em 2em 1em 2em;
  width: 75%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  align-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 3em;
  text-align: center;
}

.section-image {
  max-width: 400px;
  padding: 3em 1em 1em 1em;
}

#call-to-action {
  max-width: 800px;
  padding: 3em 1em 3em 1em;
  position: relative;
  top: 100px;
}

footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  flex-wrap: wrap;
  height: 150%;
  line-height: 2;
  padding: 10em 1em 2em 1em;
}

footer p,
ul {
  color: hsl(193, 100%, 96%);
}

.contact ul {
  list-style-position: outside;
  margin: 0 0 0 1em;
  padding-left: 0.5em;
  padding: 0;
}

.address {
  list-style-image: url(images/icon-location.svg);
}

.phone {
  list-style-image: url(images/icon-phone.svg);
}

.email {
  list-style-image: url(images/icon-email.svg);
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin: 1em 0 1em 0;
}

.fab {
  border-radius: 50%;
  border: 1px solid hsl(193, 100%, 96%);
  height: 1em;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  width: 1em;
}

.copyright {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1096px) {
  header {
    background-image: url("images/bg-hero-desktop.svg");
  }

  .bottom-header {
    align-items: flex-start;
    text-align: left;
  }

  .bottom-header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5em;
  }

  .section-content {
    max-width: 600px;
    text-align: left;
  }

  .section-image {
    max-width: 600px;
  }

  .flipped {
    flex-flow: row-reverse;
  }

  footer {
    justify-content: space-evenly;
  }

  .contact {
    max-width: 15em;
  }

  .footer-logo {
    width: 100%;
  }

  nav {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 30%;
  }

  nav ul {
    list-style-position: inside;
    width: 50%;
  }

  .social {
    margin-right: 2em;
    max-width: 10em;
  }

  .copyright {
    text-align: end;
  }
}
