.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0 auto;
    padding: 0;
}

p, ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: hsl(208, 11%, 55%);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}

header {
    background-image: url("images/bg-hero-mobile.svg");
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 6em;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.header-items {
    display: flex; 
    flex-direction: column;
    padding: 2em 1em 2em 1em;
    /* max-width: 1440px; */
    /* justify-items: space-between; */
}

#header-logo {
    width: 150px;
    padding: 10px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bottom-header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    margin-top: 2.5em;
}

.bottom-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    padding: 2em;
    max-width: 500px;
    
}

.bottom-header > p {
    color: hsl(192, 100%, 9%);
}

.header-image {
    max-width: 500px;
}

button {
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    box-shadow: 0px 1px 5px 0px hsl(192, 100%, 9%);
}

.try-it-free {
    width: 175px;
    padding: 5px 0 5px 0;
    background-color: white;
    color: hsl(192, 100%, 9%);
}

.get-started {
    background-color: hsl(322, 100%, 66%);
    /* display: block; */
    color: hsl(193, 100%, 96%);
    padding: 1em 2em 1em 2em;
    width: 75%;
}

.main {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* margin: 0 auto; */
    /* flex: 1; */
    /* margin: 3em;  */
    /* text-align: center; */
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px hsl(192, 100%, 9%);
    margin: 2em;
    /* padding: 3em; */
    /* max-width: 70%; */
    background-color: white;
    align-content: center;
    /* width: 100%; */
}

.section-content {
    /* justify-content: center; */
    text-align: center;
    max-width: 400px;
    padding: 3em;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.section-image {
    max-width: 400px;
    padding: 3em 1em 1em 1em;
}

/* section h2,p {
    display: inline-block;
} */

#call-to-action {
    position: relative;
    top: 100px;
    padding: 3em 1em 3em 1em;
    /* z-index: 2; */
    /* width: 100%; */
    max-width: 800px;
    /* text-align: center; */
    /* margin: 2em auto; */
}

footer {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    height: 150%;
    flex-wrap: wrap;
    /* position: relative; */
    /* z-index: 1; */
    padding: 10em 1em 2em 1em;
    /* justify-content: space-between; */
    line-height: 2;
}

.footer-logo {
    filter: invert(.5);
}

footer p,ul {
    color: hsl(193, 100%, 96%);
}

.contact {
    width: 100%;
}

.contact ul {
    list-style-position: outside;
    padding: 0;
    padding-left: .5em;
    margin: 0 0 0 1em;
}

.address {
    list-style-image: url(images/icon-location.svg);
}

.phone {
    list-style-image: url(images/icon-phone.svg);
}

.email {
    list-style-image: url(images/icon-email.svg);
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

.social {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social ul {
    list-style: none;
    display: flex;
    padding: 0;
}

li {
    margin: 1em 0 1em 0;
}

.fab {
    /* display: flex; */
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    width: 1em;
    height: 1em;
    border: 1px solid hsl(193, 100%, 96%);
    padding: .5em;
    margin: .5em;
    border-radius: 50%;
}

.copyright {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1096px) {
    .bottom-header {
        align-items: flex-start;
        text-align: left;
    }
    
    .bottom-header-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: space-between;
        margin-top: 2.5em;
    }

    .section-content {
        text-align: left;
    }

    .flipped {
        flex-flow: row-reverse;
    }

    footer {
        justify-content: space-evenly;
    }

    .contact {
        max-width: 15em;
    }

    .footer-logo {
        width: 100%;
    }
    

    nav {
        max-width: 30%;
        margin: 0 auto;
        /* display: block; */
        /* column-count: 2; */
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        /* max-height: 6em; */
    }

   nav ul {
       list-style-position: inside;
    /* display: flex;
    /* justify-content: space-between; */
    width: 50%;
    /* flex-wrap: wrap; */
   } 

    .social {
        max-width: 10em;
    }

    .copyright {
        text-align: end;
    }
}